# Student Loan Risk with Deep Learning

In [3]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student_loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [4]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/mbc/ai/m6/datasets/student_loans.csv"
df_student_loans = pd.read_csv(file_path)


# Review the DataFrame
df_student_loans.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
# Review the data types associated with the columns
print(df_student_loans.dtypes)

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [6]:
# Define the target set y using the credit_ranking column
y = df_student_loans["credit_ranking"].values


# Display a sample of y
y[:5]

array([5, 5, 5, 6, 5])

In [7]:
# Define features set X by selecting all columns but credit_ranking
X = df_student_loans.drop(columns="credit_ranking").copy()

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

### Step 3: Split the features and target sets into training and testing datasets.

In [8]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [9]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_train_scaled = scaler.fit_transform(X_train)

# Fit the scaler to the features training dataset
X_test_scaled = scaler.fit_transform(X_test)

X_train_scaled
X_test_scaled

array([[ 2.98410648e-01, -5.98664809e-01,  1.97121898e+00, ...,
         1.66041846e+00,  9.78679995e-03,  1.30356137e-01],
       [ 2.35188053e-01,  6.36708698e-01,  3.55273072e-03, ...,
        -2.78554196e-01, -1.65499169e-01, -1.58255236e-01],
       [ 1.30997217e+00, -9.91738198e-01,  1.64327460e+00, ...,
        -7.63297359e-01,  2.43501426e-01,  8.99986465e-01],
       ...,
       [-7.13150871e-01, -8.79431516e-01,  9.87385854e-01, ...,
         6.90932130e-01,  1.11993127e+00,  6.11375092e-01],
       [-1.72471239e+00,  5.52478686e-01, -1.52685435e+00, ...,
         1.93741455e+00, -8.08214390e-01, -4.46866610e-01],
       [ 2.19508850e+00, -1.04789154e+00,  1.15135804e+00, ...,
        -1.55810302e-03,  5.94073364e-01,  3.22763719e-01]])

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [10]:
# Define the the number of inputs (features) to the model
number_input_features = 11
# Define the deep learning model
# Review the number of features
number_input_features

11

In [11]:
# Define the number of neurons in the output layer
output=1

In [12]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1=9


# Review the number hidden nodes in the first layer
hidden_nodes_layer1

9

In [13]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2=7

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

7

In [14]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

In [15]:
# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [16]:
# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

In [17]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))

In [18]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 108

 dense_1 (Dense)             (None, 7)                 70

 dense_2 (Dense)             (None, 1)                 8

=================================================================
Total params: 186 (744.00 Byte)
Trainable params: 186 (744.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `mse` loss function, the `adam` optimizer, and the `mse` evaluation metric.

In [19]:
# Compile the Sequential model
nn_model.compile(loss="mse", optimizer="adam", metrics=["mse"])

In [20]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
38/38 [==============================] - 0s 377us/step - loss: 11.3283 - mse: 11.3283
Epoch 2/100
38/38 [==============================] - 0s 274us/step - loss: 7.2971 - mse: 7.2971
Epoch 3/100
38/38 [==============================] - 0s 287us/step - loss: 4.8794 - mse: 4.8794
Epoch 4/100
38/38 [==============================] - 0s 288us/step - loss: 3.4579 - mse: 3.4579
Epoch 5/100
38/38 [==============================] - 0s 309us/step - loss: 2.6311 - mse: 2.6311
Epoch 6/100
38/38 [==============================] - 0s 304us/step - loss: 2.1542 - mse: 2.1542
Epoch 7/100
38/38 [==============================] - 0s 301us/step - loss: 1.7965 - mse: 1.7965
Epoch 8/100
38/38 [==============================] - 0s 293us/step - loss: 1.5117 - mse: 1.5117
Epoch 9/100
38/38 [==============================] - 0s 300us/step - loss: 1.2541 - mse: 1.2541
Epoch 10/100
38/38 [==============================] - 0s 305us/step - loss: 1.0556 - mse: 1.0556
Epoch 11/100
38/38 [==============================] - 0s 306us/step - loss: 0.9286 - mse: 0.9286
Epoch 12/100
38/38 [==============================] - 0s 297us/step - loss: 0.8464 - mse: 0.8464
Epoch 13/100
38/38 [==============================] - 0s 293us/step - loss: 0.7813 - mse: 0.7813
Epoch 14/100
38/38 [==============================] - 0s 303us/step - loss: 0.7427 - mse: 0.7427
Epoch 15/100
38/38 [==============================] - 0s 305us/step - loss: 0.7103 - mse: 0.7103
Epoch 16/100
38/38 [==============================] - 0s 290us/step - loss: 0.6810 - mse: 0.6810
Epoch 17/100
38/38 [==============================] - 0s 305us/step - loss: 0.6566 - mse: 0.6566
Epoch 18/100
38/38 [==============================] - 0s 299us/step - loss: 0.6361 - mse: 0.6361
Epoch 19/100
38/38 [==============================] - 0s 298us/step - loss: 0.6238 - mse: 0.6238
Epoch 20/100
38/38 [==============================] - 0s 290us/step - loss: 0.6077 - mse: 0.6077
Epoch 21/100
38/38 [==============================] - 0s 306us/step - loss: 0.5915 - mse: 0.5915
Epoch 22/100
38/38 [==============================] - 0s 310us/step - loss: 0.5754 - mse: 0.5754
Epoch 23/100
38/38 [==============================] - 0s 302us/step - loss: 0.5681 - mse: 0.5681
Epoch 24/100
38/38 [==============================] - 0s 291us/step - loss: 0.5632 - mse: 0.5632
Epoch 25/100
38/38 [==============================] - 0s 310us/step - loss: 0.5525 - mse: 0.5525
Epoch 26/100
38/38 [==============================] - 0s 302us/step - loss: 0.5480 - mse: 0.5480
Epoch 27/100
38/38 [==============================] - 0s 288us/step - loss: 0.5452 - mse: 0.5452
Epoch 28/100
38/38 [==============================] - 0s 310us/step - loss: 0.5379 - mse: 0.5379
Epoch 29/100
38/38 [==============================] - 0s 308us/step - loss: 0.5292 - mse: 0.5292
Epoch 30/100
38/38 [==============================] - 0s 305us/step - loss: 0.5247 - mse: 0.5247
Epoch 31/100
38/38 [==============================] - 0s 288us/step - loss: 0.5342 - mse: 0.5342
Epoch 32/100
38/38 [==============================] - 0s 300us/step - loss: 0.5296 - mse: 0.5296
Epoch 33/100
38/38 [==============================] - 0s 307us/step - loss: 0.5125 - mse: 0.5125
Epoch 34/100
38/38 [==============================] - 0s 309us/step - loss: 0.5141 - mse: 0.5141
Epoch 35/100
38/38 [==============================] - 0s 294us/step - loss: 0.5100 - mse: 0.5100
Epoch 36/100
38/38 [==============================] - 0s 297us/step - loss: 0.5140 - mse: 0.5140
Epoch 37/100
38/38 [==============================] - 0s 305us/step - loss: 0.5068 - mse: 0.5068
Epoch 38/100
38/38 [==============================] - 0s 306us/step - loss: 0.5034 - mse: 0.5034
Epoch 39/100
38/38 [==============================] - 0s 287us/step - loss: 0.4991 - mse: 0.4991
Epoch 40/100
38/38 [==============================] - 0s 456us/step - loss: 0.5082 - mse: 0.5082
Epoch 41/100
38/38 [==============================] - 0s 287us/step - loss: 0.4947 - mse: 0.4947
Epoch 42/100
38/38 [==============================] - 0s 299us/step - loss: 0.4940 - mse: 0.4940
Epoch 43/100
38/38 [==============================] - 0s 297us/step - loss: 0.4898 - mse: 0.4898
Epoch 44/100
38/38 [==============================] - 0s 286us/step - loss: 0.4901 - mse: 0.4901
Epoch 45/100
38/38 [==============================] - 0s 303us/step - loss: 0.4931 - mse: 0.4931
Epoch 46/100
38/38 [==============================] - 0s 299us/step - loss: 0.4919 - mse: 0.4919
Epoch 47/100
38/38 [==============================] - 0s 306us/step - loss: 0.4940 - mse: 0.4940
Epoch 48/100
38/38 [==============================] - 0s 285us/step - loss: 0.4862 - mse: 0.4862
Epoch 49/100
38/38 [==============================] - 0s 298us/step - loss: 0.4972 - mse: 0.4972
Epoch 50/100
38/38 [==============================] - 0s 296us/step - loss: 0.4978 - mse: 0.4978
Epoch 51/100
38/38 [==============================] - 0s 286us/step - loss: 0.4904 - mse: 0.4904
Epoch 52/100
38/38 [==============================] - 0s 290us/step - loss: 0.4767 - mse: 0.4767
Epoch 53/100
38/38 [==============================] - 0s 305us/step - loss: 0.4753 - mse: 0.4753
Epoch 54/100
38/38 [==============================] - 0s 291us/step - loss: 0.4865 - mse: 0.4865
Epoch 55/100
38/38 [==============================] - 0s 286us/step - loss: 0.4791 - mse: 0.4791
Epoch 56/100
38/38 [==============================] - 0s 298us/step - loss: 0.4751 - mse: 0.4751
Epoch 57/100
38/38 [==============================] - 0s 300us/step - loss: 0.4751 - mse: 0.4751
Epoch 58/100
38/38 [==============================] - 0s 298us/step - loss: 0.4815 - mse: 0.4815
Epoch 59/100
38/38 [==============================] - 0s 291us/step - loss: 0.4743 - mse: 0.4743
Epoch 60/100
38/38 [==============================] - 0s 303us/step - loss: 0.4739 - mse: 0.4739
Epoch 61/100
38/38 [==============================] - 0s 304us/step - loss: 0.4722 - mse: 0.4722
Epoch 62/100
38/38 [==============================] - 0s 285us/step - loss: 0.4819 - mse: 0.4819
Epoch 63/100
38/38 [==============================] - 0s 297us/step - loss: 0.4732 - mse: 0.4732
Epoch 64/100
38/38 [==============================] - 0s 303us/step - loss: 0.4682 - mse: 0.4682
Epoch 65/100
38/38 [==============================] - 0s 298us/step - loss: 0.4763 - mse: 0.4763
Epoch 66/100
38/38 [==============================] - 0s 315us/step - loss: 0.4644 - mse: 0.4644
Epoch 67/100
38/38 [==============================] - 0s 288us/step - loss: 0.4690 - mse: 0.4690
Epoch 68/100
38/38 [==============================] - 0s 302us/step - loss: 0.4816 - mse: 0.4816
Epoch 69/100
38/38 [==============================] - 0s 296us/step - loss: 0.4837 - mse: 0.4837
Epoch 70/100
38/38 [==============================] - 0s 290us/step - loss: 0.4721 - mse: 0.4721
Epoch 71/100
38/38 [==============================] - 0s 296us/step - loss: 0.4678 - mse: 0.4678
Epoch 72/100
38/38 [==============================] - 0s 297us/step - loss: 0.4714 - mse: 0.4714
Epoch 73/100
38/38 [==============================] - 0s 299us/step - loss: 0.4644 - mse: 0.4644
Epoch 74/100
38/38 [==============================] - 0s 287us/step - loss: 0.4668 - mse: 0.4668
Epoch 75/100
38/38 [==============================] - 0s 293us/step - loss: 0.4645 - mse: 0.4645
Epoch 76/100
38/38 [==============================] - 0s 294us/step - loss: 0.4781 - mse: 0.4781
Epoch 77/100
38/38 [==============================] - 0s 288us/step - loss: 0.4710 - mse: 0.4710
Epoch 78/100
38/38 [==============================] - 0s 298us/step - loss: 0.4675 - mse: 0.4675
Epoch 79/100
38/38 [==============================] - 0s 302us/step - loss: 0.4642 - mse: 0.4642
Epoch 80/100
38/38 [==============================] - 0s 296us/step - loss: 0.4653 - mse: 0.4653
Epoch 81/100
38/38 [==============================] - 0s 285us/step - loss: 0.4661 - mse: 0.4661
Epoch 82/100
38/38 [==============================] - 0s 302us/step - loss: 0.4685 - mse: 0.4685
Epoch 83/100
38/38 [==============================] - 0s 324us/step - loss: 0.4631 - mse: 0.4631
Epoch 84/100
38/38 [==============================] - 0s 296us/step - loss: 0.4601 - mse: 0.4601
Epoch 85/100

38/38 [==============================] - 0s 283us/step - loss: 0.4592 - mse: 0.4592
Epoch 86/100
38/38 [==============================] - 0s 295us/step - loss: 0.4614 - mse: 0.4614
Epoch 87/100
38/38 [==============================] - 0s 307us/step - loss: 0.4607 - mse: 0.4607
Epoch 88/100
38/38 [==============================] - 0s 287us/step - loss: 0.4787 - mse: 0.4787
Epoch 89/100
38/38 [==============================] - 0s 282us/step - loss: 0.4562 - mse: 0.4562
Epoch 90/100
38/38 [==============================] - 0s 295us/step - loss: 0.4636 - mse: 0.4636
Epoch 91/100
38/38 [==============================] - 0s 281us/step - loss: 0.4610 - mse: 0.4610
Epoch 92/100
38/38 [==============================] - 0s 287us/step - loss: 0.4654 - mse: 0.4654
Epoch 93/100
38/38 [==============================] - 0s 289us/step - loss: 0.4647 - mse: 0.4647
Epoch 94/100
38/38 [==============================] - 0s 284us/step - loss: 0.4583 - mse: 0.4583
Epoch 95/100
38/38 [==============================] - 0s 285us/step - loss: 0.4576 - mse: 0.4576
Epoch 96/100
38/38 [==============================] - 0s 289us/step - loss: 0.4523 - mse: 0.4523
Epoch 97/100
38/38 [==============================] - 0s 281us/step - loss: 0.4594 - mse: 0.4594
Epoch 98/100
38/38 [==============================] - 0s 291us/step - loss: 0.4655 - mse: 0.4655
Epoch 99/100
38/38 [==============================] - 0s 283us/step - loss: 0.4511 - mse: 0.4511
Epoch 100/100
38/38 [==============================] - 0s 296us/step - loss: 0.4635 - mse: 0.4635

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [21]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.3981 - mse: 0.3981 - 54ms/epoch - 4ms/step
Loss: 0.3981005847454071, Accuracy: 0.3981005847454071

### Step 4: Save and export your model to an HDF5 file, and name the file `student_loans.h5`.

In [23]:
# Set the model's file path

file_path = Path("saved_models/student_loans.h5")
# Export your model to a HDF5 file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [24]:
# Set the model's file path
file_path_load = Path("saved_models/student_loans.h5")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path_load)

### Step 2: Make predictions on the testing data.

In [209]:
# Make predictions on the testing data
# Make predictions on test data
predictions = (nn_imported.predict(X_test_scaled) > 0.5).astype("int32")

13/13 [==============================] - 0s 2ms/step

### Step 3: Create a DataFrame to compare the predictions with the actual values.

In [210]:
# Create a DataFrame to compare the predictions with the actual values
results = pd.DataFrame({"predictions": predictions.ravel(), "actual": y_test})

### Step 4: Display a sample of the DataFrame you created in step 3.

In [211]:
# Display sample data
results.head()

   predictions  actual
0            1       5
1            1       6
2            1       6
3            1       6
4            1       6